<script src="/js/script.js"></script>
<footer>
    <div id="div-git">
        <a href="https://github.com/wirlleym"><img height="100%" src="/img/github.png" alt="Github do criador"> 
        </a>
    </div>
    <div>Todos os direitos reservados</div>
</footer>