<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
<header> 
    <div>
        <nav> 
            <ul id="header_container"> 
                <a href="/"> <li class="guia">  <i class="fa-solid fa-circle-play"></i> Inicio </li> </a>
                <a href="/criar"> <li class="guia"> <i class="fa-solid fa-headphones-simple"></i> Monte sua Playlist </li> </a>
            </ul>
        </nav>
    </div>
</header>