<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title> Monte sua Playlist </title>
</head>

<body> 
    <%- include('./partials/header.ejs') %>
    <main class="main__criar">
        <section id="form__criar">
            <form method="post" action="/criar">

                    <legend> Criar Playlist </legend>

                    <fieldset class="fieldset__criar">
                        <input type="text" name="nome" required/>
                        <label for="nome"> Nome da Música </label>
                    </fieldset>

                    <fieldset class="fieldset__criar">
                        <input type="text" name="cantor" required/>
                        <label for="cantor"> Nome do Cantor </label>
                    </fieldset>

                    <fieldset class="fieldset__criar">
                        <input type="number" name="duração" required/>
                        <label for="duração"> Duração(minutos) </label>
                    </fieldset>

                    <fieldset class="fieldset__criar">
                        <input type="text" name="iframe" required/>
                        <label for="iframe"> Código do Vídeo </label>   
                    </fieldset>

                    <div id="btn__concluir">
                        <button id="btn__submit" type="submit"> Concluir </button>
                    </div>

                <!-- </fieldset> -->
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>

    <% if (toggle) { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Sucesso!!!',
                text: 'Sua música foi cadastrada!!!',
                timer: 3000
            })
            setInterval(() => {window.location.href = "/"}, 3000)
        </script>
    <% } %>

</body>

</html>