* {
    margin: 0;
    padding: 0;
}



header {
    background-color: #ff5400; 
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div {
  list-style: none;
  display: flex;
}

header a{
  text-decoration: none;
  color: rgb(26, 23, 23);
  font-size: 20px;
}

a:hover{
  color: white;
  cursor: pointer;
}

div.btn__container a{
  color: white;
}
div.btn__container a:hover{
  color: #ff5400;
  cursor: pointer;
  transform: scale(1.2);
}

#btn__concluir{
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

ul#header_container {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
} 

body{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

main{
  background: url(/img/fundogif.gif);
  background-size: cover;
  width: 100%;
  min-height: 80%;
}

div#div-logo{
  display: flex;
  justify-content: center;
  align-items: center;
} 

#logo{
width: 200px;
height: 200px;
}

div.name_music{
    background-color: #ff5400;
    color: white;
    font-size: 25px;
    display: flex;
    gap: 8px;
    justify-content: center;
} 

div.name_music:hover{
  background-color: #f5a30a;
  color: rgb(12, 10, 10);
}

#logo{
width: 200px;
height: 200px;
}

#main__container {
  width: 100%;
  height: 100%;
}


section#card__container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 32px;
}

#form__criar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

legend{
  color: white;
  font-size: xx-large;
  padding-top: 20px;
  text-align: center;
}

#fild_criar{
  height: 40px;
  width: 800px;
}

input{
    width: 650px;
    margin: 10px;
}

.btn__container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: -20px;
}

button{
    font-size: medium;
}

button:hover{
    background-color: #ff5400;
    transform: scale(1.2);
    cursor: pointer; 
}

label{
  color: white;
}

.iframes{
  width: 100%;
  flex-wrap: wrap;
}

#iframe-detalhes{
    border-radius: 5px;
}

#details_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#tablet{ 
  background: url(/img/Tablet.png) no-repeat;
  background: url(/img/Tablet.png) no-repeat;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 85px;
    align-content: flex-start;
    flex-wrap: wrap
}

table {
  color: white;
  
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  gap: 20px; 
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #ff5400;
}

  #div-git{
    height: 100%;
    cursor: pointer;
  }

  /* style mensage confirmation */
section#message {
  padding: 1.5rem;
  background-color: rgb(234, 51, 51);
  color: #4d0000;
  position: fixed;
  /* top: 3rem; */
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {                
  font-size: 2rem;
  cursor: pointer;
  transition: .3s ease-in-out;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}
